html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: #000000;
    line-height: 1.26em;
    background: #ffffff;
    min-width: 320px;
}
body{
    overflow-y: scroll;
}
html, body, A, input, select, textarea{
    font-family: 'Open Sans', Arial, Tahoma, Geneva, Kalimati, sans-serif;
}
A{
    text-decoration: none;
    color: #00aeef;
    transition: all 0.25s ease 0s;
    outline: none;
}
A:hover{
    color: #000000;
}
.dashed{
    text-decoration: none !important;
    border-bottom: 1px dashed;
}
.dashed:hover{
    border-bottom: 1px dashed transparent;
}
.dotted{
    text-decoration: none !important;
    border-bottom: 1px dotted;
}
.dotted:hover{
    border-bottom: 1px dotted transparent;
}
img, object, iframe{ border: 0; vertical-align: top; }
header, nav, menu, main, aside, address, section, article, footer, figure, figcaption{ display: block; }
form, figure, menu{ margin: 0; padding: 0; }
input[type="text"], input[type="password"], select, textarea{
    height: 60px;
    margin: 0;
    padding: 0 18px;
    font-size: 20px;
    color: #000000;
    border: 1px solid #2d3941;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
}
select{
    padding: 0 0 0 14px;
}
textarea{
    width: 100%;
    max-width: 436px;
    height: 195px;
    padding: 14px 18px;
    resize: vertical;
}
input[type="submit"], input[type="reset"], input[type="button"]{ border: 0; }
input[type="image"], input[type="button"], input[type="submit"], label{ cursor: pointer; }
table{ width: 100%; border-collapse: collapse; border-spacing: 0; border: 0; }
input[type="checkbox"], input[type="radio"]{ position: relative; top: 2px; *top: 0; margin: 0 5px 0 0; padding: 0; height: auto; }
@media not all and (-webkit-min-device-pixel-ratio){ input[type="checkbox"], input[type="radio"] { top: 0; } }
.clear, .hr{ clear: both; height: 0; font-size: 0; line-height: 0; overflow: hidden; }
.clearfix:before, .clearfix:after{ content: "."; display: block; height: 0; visibility: hidden; }
.clearfix:after{ clear: both; }
.clearfix{ zoom: 1; }
.flexible{ overflow: hidden; zoom: 1; }
.text_center{ text-align: center !important; }
.text_left{ text-align: left !important; }
.text_right{ text-align: right !important; }
.fl_left{ float: left; }
.fl_right{ float: right; }
.cur, .active{ cursor: default; }
.niceCheck, .niceRadio{
    display: inline-block; *display: inline; vertical-align: middle; zoom: 1;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    top: -3px;
}
.niceCheck{
    width: 23px;
    height: 23px;
    margin: 0 5px 0 0;
    background: url("../img/checkbox.png") left top no-repeat;
}
.niceChecked, .radioChecked{
    background-position: left bottom !important;
}
.niceCheck input, .niceRadio input{
    margin-left: -100px !important;
}
.niceRadio{
    width: 32px;
    height: 32px;
    margin: 0 5px 0 0;
    background: url("../img/radio.png") left top no-repeat;
}

/* ----- all ----- */
.all{
    overflow: hidden;
}

/* ----- header ----- */
.header{
    padding: 25px 20px;
    position: relative;
    z-index: 3;
}
/*.logo{
    display: block;
    width: 273px;
    height: 50px;
    margin: 0 auto;
    background: url("../img/logo.png") left top no-repeat;
}
.logo_fiverr{
    position: absolute;
    top: 25px;
    left: 10px;
    width: 50px;
    height: 50px;
    background: url("../img/logo_fiverr.png") left top no-repeat;
}*/
.a_link{
    position: absolute;
    top: 25px;
    right: 20px;
    padding: 4px 0 0 0;
    font-size: 24px;
    color: #000000;
    font-weight: 300;
}
.a_link span{
    font-weight: 600;
}
.a_link:hover{
    color: #00aeef;
}

/* ----- footer ----- */
.footer{
    padding: 24px 20px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
    background: #666666;
    position: relative;
    z-index: 2;
}
.footer a{
    color: #ffffff;
}
.footer a:hover{
    text-decoration: underline;
}

/* ----- content ----- */
.content{
    position: relative;
    z-index: 1;
}
.content_center{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.block_slider{
    width: 100%;
    height: 640px;
}
.cycle-slideshow > div{
    width: 100%;
    height: 100%;
    z-index: 2;
}
.cycle-slideshow > div{
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}
/*.slider_img{
    background: url("../img/slider_img.jpg") center top no-repeat;
}*/
.block_welcome{
    padding: 62px 0 0 0;
    background: #f7f7f7;
}
h2{
    margin: 0;
    text-align: center;
    font-size: 48px;
    line-height: 61px;
    font-weight: normal;
}
h2 span, h2 a{
    color: #00aeef;
    font-weight: 600;
}
h2 u{
    display: block;
    margin: -7px 0 0 0;
    text-decoration: none;
    font-size: 30px;
}
.block_welcome h2{
    margin: 0 0 77px 0;
}
.two_cols{
    background: #ffffff;
}
.two_cols .col{
    float: left;
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.bnr_big{
    display: block;
}
.bnr_big img{
    width: 100%;
}
.block_order{
    padding: 74px 34px 0 34px;
    line-height: 47px;
}
.block_order p{
    margin: 0;
}
.block_order .title{
    margin: 0 0 63px 0;
    font-size: 18px;
}
.block_order .title p{
    margin: 0 0 -5px 0;
    font-size: 48px;
}
.block_order .title p a{
    font-weight: 600;
}
.a_more{
    padding: 0 12px 0 0;
    background: url("../img/arrow_more.png") right 9px no-repeat;
}
.block_order a{
    word-wrap: break-word;
}
.block_order strong, .block_order label{
    color: #999999;
    font-weight: 800;
}
.block_order .p_1{
    margin: 0 0 37px 0;
}
.block_order .p_2{
    margin: 0 0 40px 0;
}
.block_order .p_3{
    margin: 0 0 23px 0;
}
.block_order .p_4{
    margin: 0 0 23px 0;
}
.block_extras_all{
    padding: 46px 0 0 0;
    background: #f7f7f7;
}
.block_extras_all h2{
    margin: 0 0 20px 0;
}
.block_extras{
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
}
.block_extra{
    display: inline-block; *display: inline; vertical-align: top; zoom: 1;
    width: 16.66%;
    margin: 0 0 38px 0;
    font-size: 30px;
}
.block_extra .img{
    display: block;
    margin: 0 0 30px 0;
}
.block_extra.op .img{
    opacity: 0.50;
    filter: alpha(opacity=50);
}
.block_extra .img img{
    width: 100%;
}
.block_extra .title{
    margin: 0 0 30px 0;
    color: #999999;
    font-weight: 800;
    text-transform: uppercase;
}
.button_add{
    display: inline-block; *display: inline; vertical-align: top; zoom: 1;
    width: 145px;
    height: 48px;
    text-align: center;
    font-size: 18px;
    line-height: 44px;
    border: 2px solid #00aeef;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.button_add:hover{
    color: #ffffff;
    background: #00aeef;
}

.button_add_solid{
    display: inline-block; *display: inline; vertical-align: top; zoom: 1;
    height: 48px;
    text-align: center;
    font-size: 18px;
    line-height: 44px;
    border: 2px solid #00aeef;
    background: #00aeef;
    color: #FFF;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.block_mycarousel_extras{
    max-width: 1920px;
    margin: 0 auto 38px auto;
    text-align: center;
    position: relative;
    z-index: 1;
}
.mycarousel_extras, .mycarousel_extras li{
    height: 365px;
}
.mycarousel_extras li{
    width: 320px;
}
.mycarousel_extras .block_extra{
    display: block;
    width: 100% !important;
    margin: 0;
}
.block_mycarousel_extras .carousel_arrow_left, .block_mycarousel_extras .carousel_arrow_right{
    top: 90px;
    margin: 0;
}
.block_mycarousel_extras .carousel_arrow_left{
    left: -50px;
    background: url("../img/arrow_left.png") -21px top no-repeat;
}
.block_mycarousel_extras .carousel_arrow_right{
    right: -50px;
    background: url("../img/arrow_right.png") -21px top no-repeat;
}
.block_seo_stats{
    margin: 0 0 90px 0;
    padding: 47px 0 0 0;
    background: url("../img/block_seo_stats_bg.jpg") center top no-repeat;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    position: relative;
}
.block_seo_stats h2{
    margin: 0 0 92px 0;
}
.block_seo_stats_before{
    background: rgba(80,80,80,.6);
}
.block_seo_stats_after{
    background: rgba(129,162,0,.6);
}
.block_seo_stats_center{
    max-width: 1080px;
    margin: 0 auto;
    padding: 42px 0 0 0;
    font-size: 0;
    color: #ffffff;
}
.block_seo_stat{
    display: inline-block; *display: inline; vertical-align: top; zoom: 1;
    width: 25%;
    margin: 0 0 30px 0;
    padding: 0 10px;
    text-align: center;
    font-size: 24px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.block_seo_stat span{
    display: block;
    font-size: 72px;
    line-height: 92px;
}
.block_seo_stat span sup{
    font-size: 38px;
}
.block_seo_stats_info{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 12px 0 0 0;
    text-align: center;
    color: #999999;
    font-weight: 800;
    text-transform: uppercase;
}
.block_seo_stats_info span{
    color: #b4d045;
}
.block_backlinks_list{
    margin: 0 0 68px 0;
    padding: 40px 0 0 0;
}
.block_backlinks_list h2{
    margin: 0 0 57px 0;
}
.table{
    margin: 0 0 30px 0;
    background: #e2e2e2;
}
.table tr:nth-child(2n){
    background: #f2f2f2;
}
.table th, .table td{
    padding: 0 15px;
    font-size: 14px;
    font-weight: bold;
}
.table th:first-child, .table th:last-child, .table td:first-child, .table td:last-child{
    width: 25%;
}
.table th:nth-child(2), .table td:nth-child(2){
    width: 1px;
    text-align: left;
    white-space: nowrap;
}
.table th:nth-child(3), .table td:nth-child(3){
    width: 25%;
    text-align: left;
}
.table th:nth-child(4), .table td:nth-child(4){
    text-align: left;
    white-space: nowrap;
}
.table th:nth-child(5), .table td:nth-child(5), .table th:nth-child(6), .table td:nth-child(6), .table th:nth-child(7), .table td:nth-child(7), .table th:nth-child(8), .table td:nth-child(8){
    width: 1px;
    text-align: center;
    white-space: nowrap;
}
.block_download_cvs{
    margin: 0 0 95px 0;
    text-align: center;
}
.block_download_cvs_left, .block_download_cvs_right{
    float: left;
    width: 50%;
    margin: 0 0 30px 0;
    padding: 0 12px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.ico_download_cvs{
    display: block;
    padding: 112px 0 0 0;
    color: #999999;
    line-height: 41px;
    background: url("../img/ico_download_cvs.png") center 15px no-repeat;
}
.block_download_cvs_info{
    clear: both;
    margin: 0 0 58px 0;
    padding: 90px 0 0 0;
    color: #00aeef;
    font-weight: 800;
    text-transform: uppercase;
}
.button{
    display: inline-block; *display: inline; vertical-align: top; zoom: 1;
    height: 67px;
    padding: 0 50px;
    font-size: 30px;
    line-height: 62px;
    font-weight: 800;
    text-transform: uppercase;
    border: 2px solid #00aeef;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.button:hover{
    color: #ffffff;
    background: #00aeef;
}
.block_results{
    padding: 27px 0 0 0;
    color: #ffffff;
    background: url("../img/block_results_bg.jpg") center top no-repeat;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}
.block_results a{
    color: #ffffff;
}
.block_results h2{
    margin: 0 0 60px 0;
}
.block_result{
    float: left;
    width: 50%;
    margin: 0 0 36px 0;
    text-align: center;
}
.block_result a{
    display: inline-block; *display: inline; vertical-align: top; zoom: 1;
    max-width: 370px;
    padding: 114px 0 0 0;
    font-size: 24px;
    line-height: 34px;
}
.block_result a:hover{
    text-decoration: underline;
    -webkit-animation: animatedLike 1.5s ease infinite;
    -moz-animation: animatedLike 1.5s ease infinite;
    animation: animatedLike 1.5s ease infinite;
}
@-webkit-keyframes animatedLike{
    0%{background-position: center top}
    50%{background-position: center 20px}
    100%{background-position: center top}
}
@-moz-keyframes animatedLike{
    0%{background-position: center top}
    50%{background-position: center 20px}
    100%{background-position: center top}
}
@keyframes animatedLike{
    0%{background-position: center top}
    50%{background-position: center 20px}
    100%{background-position: center top}
}
.button_like{
    background: url("../img/button_like.png") center top no-repeat;
}
.button_dislike{
    background: url("../img/button_dislike.png") center top no-repeat;
}
.block_result a span{
    display: block;
    margin: 0 0 5px 0;
    font-size: 36px;
}
.block_faq{
    margin: 0 0 100px 0;
    padding: 72px 0 0 0;
    text-align: center;
}
.block_faq h2{
    margin: 0 0 48px 0;
}
.ico_faq_pdf{
    display: inline-block; *display: inline; vertical-align: top; zoom: 1;
    padding: 156px 0 0 0;
    color: #999999;
    font-weight: 800;
    text-transform: uppercase;
    background: url("../img/ico_faq_pdf.png") center top no-repeat;
}
.block_recommended{
    padding: 46px 0 0 0;
    color: #ffffff;
    background: url("../img/block_recommended_bg.jpg") center top no-repeat;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}
.block_recommended h2{
    margin: 0 0 63px 0;
}
.ul_recommended{
    margin: 0 -34px 63px -10px;
    padding: 0;
    list-style: none;
}
.ul_recommended li{
    float: left;
    width: 25%;
    margin: 0 0 24px 0;
    padding: 0 24px 0 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.ul_recommended img{
    width: 100%;
}
.block_mycarousel_recommended{
    margin: 0 -10px 87px -10px;
    position: relative;
    z-index: 1;
}
.mycarousel{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.mycarousel > ul{
    position: absolute;
    width: 20000px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.mycarousel > ul > li{
    float: left;
}
.mycarousel_recommended, .mycarousel_recommended li{
    height: 170px;
}
.mycarousel_recommended li{
    width: 252px;
    padding: 0 24px 0 0;
}
.mycarousel_recommended img{
    width: 100%;
}
.carousel_arrow_left, .carousel_arrow_right{
    position: absolute;
    top: 50%;
    width: 21px;
    height: 36px;
    margin: -18px 0 0 0;
    transition: none;
}
.carousel_arrow_left{
    left: -50px;
    background: url("../img/arrow_left.png") left top no-repeat;
}
.carousel_arrow_right{
    right: -50px;
    background: url("../img/arrow_right.png") left top no-repeat;
}
.carousel_arrow_left:hover{
    background-position: right top;
}
.carousel_arrow_right:hover{
    background-position: right top;
}
.block_fiverr{
    padding: 120px 0 0 0;
    color: #ffffff;
    background: #1fb047 url("../img/ico_fiverr.png") center 25px no-repeat;
}
.block_fiverr h2{
    margin: 0 0 26px 0;
}
.block_fiverr h2 img{
    vertical-align: middle;
    position: relative;
    top: -6px;
}

@media screen and (max-width: 2020px){
    .block_mycarousel_extras{
        padding: 0 30px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .block_mycarousel_extras .carousel_arrow_left{
        left: 0;
    }
    .block_mycarousel_extras .carousel_arrow_right{
        right: 0;
    }
}
@media screen and (max-width: 1900px){
    .block_order{
        padding: 24px 24px 0 24px;
        line-height: 37px;
    }
    .block_order .title{
        margin: 0 0 20px 0;
    }
    .block_order .p_1{
        margin: 0 0 20px 0;
    }
    .block_order .p_2{
        margin: 0 0 20px 0;
    }
    .block_order .p_3{
        margin: 0 0 20px 0;
    }
    .block_order .p_4{
        margin: 0 0 20px 0;
    }
}
@media screen and (max-width: 1680px){
    .table th:first-child, .table th:last-child, .table td:first-child, .table td:last-child{
        width: 20%;
    }
    .table th:nth-child(3), .table td:nth-child(3){
        width: 35%;
    }
}
@media screen and (max-width: 1600px){
    .block_extra{
        width: 25%;
    }
    .table th:first-child, .table th:last-child, .table td:first-child, .table td:last-child{
        width: 15%;
    }
}
@media screen and (max-width: 1300px){
    .block_order{
        font-size: 18px;
        line-height: 24px;
    }
    .block_order .title p{
        margin: 0 0 5px 0;
        font-size: 28px;
    }
    .block_extra{
        width: 33.33%;
    }
    .table th:first-child, .table th:last-child, .table td:first-child, .table td:last-child{
        width: 10%;
    }
    .table th:nth-child(3), .table td:nth-child(3){
        width: 45%;
    }
}
@media screen and (max-width: 1250px){
    .block_mycarousel_recommended{
        margin: 0 0 87px 0;
        padding: 0 20px;
    }
    .mycarousel_recommended, .mycarousel_recommended li{
        height: 170px;
    }
    .mycarousel_recommended li{
        width: 252px;
        padding: 0 14px 0 0;
    }
    .carousel_arrow_left{
        left: -10px;
    }
    .carousel_arrow_right{
        right: -10px;
    }
}
@media screen and (max-width: 1024px){
    .table th:first-child, .table th:last-child, .table td:first-child, .table td:last-child{
        width: 5%;
    }
    .ul_recommended{
        margin: 0 -24px 63px 0;
    }
}
@media screen and (max-width: 980px){
    .two_cols .col{
        float: none;
        width: 100%;
    }
    .block_order{
        padding: 34px 34px 0 34px;
        font-size: 30px;
        line-height: 47px;
    }
    .block_order .title{
        margin: 0 0 40px 0;
        font-size: 18px;
    }
    .block_order .title p{
        margin: 0 0 -5px 0;
        font-size: 48px;
    }
    .block_order .p_1{
        margin: 0 0 37px 0;
    }
    .block_order .p_2{
        margin: 0 0 40px 0;
    }
    .block_order .p_3{
        margin: 0 0 23px 0;
    }
    .block_order .p_4{
        margin: 0 0 34px 0;
    }
}
@media screen and (max-width: 940px){
    .logo{
        margin: 0 auto 25px auto;
    }
    .logo_fiverr{
        float: left;
        margin: 0 0 0 -10px;
        position: static;
    }
    .a_link{
        float: right;
        position: static;
    }
    .block_slider{
        height: 340px;
    }
    .block_seo_stat{
        width: 50%;
    }
    .table th:first-child, .table th:last-child, .table td:first-child, .table td:last-child{
        width: 0;
        padding: 0;
    }
}
@media screen and (max-width: 840px){
    .block_extra{
        width: 50%;
    }
    .table th, .table td{
        padding: 0 10px;
    }
    .table td:nth-child(3) a{
        word-wrap: break-word;
    }
}
@media screen and (max-width: 740px){
    .ul_recommended li{
        width: 50%;
    }
}
@media screen and (max-width: 700px){
    .button{
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: normal;
    }
    .block_result{
        float: none;
        width: 100%;
    }
}
@media screen and (max-width: 640px){
    .block_download_cvs_left, .block_download_cvs_right{
        float: none;
        width: 100%;
    }
}
@media screen and (max-width: 600px){
    .table th, .table td{
        padding: 5px;
        font-size: 12px;
        line-height: 18px;
    }
    .table th:nth-child(3), .table td:nth-child(3){
        width: auto;
        word-break: break-all;
    }
}
@media screen and (max-width: 580px){
    h2{
        font-size: 38px;
        line-height: 50px;
    }
    .block_order{
        padding: 24px 24px 0 24px;
        font-size: 20px;
        line-height: 37px;
    }
    .block_order .title{
        margin: 0 0 20px 0;
    }
    .block_order .title p{
        font-size: 30px;
    }
    .block_order .p_1{
        margin: 0 0 20px 0;
    }
    .block_order .p_2{
        margin: 0 0 20px 0;
    }
    .block_order .p_3{
        margin: 0 0 20px 0;
    }
    .block_order .p_4{
        margin: 0 0 20px 0;
    }
}
@media screen and (max-width: 540px){
    .block_extra{
        width: 100%;
    }
}
@media screen and (max-width: 420px){
    .block_seo_stat{
        width: 100%;
    }
    .table th, .table td{
        font-size: 10px;
    }
    .ul_recommended li{
        width: 100%;
    }
}
@media screen and (max-width: 380px){
    .a_link{
        font-size: 18px;
    }
}



.slider_img {
    background: url("../img/slider_img.jpg") center top no-repeat;
}

.logo{
    display: block;
    width: 273px;
    height: 50px;
    margin: 0 auto;
    background: url("../img/logo.png") left top no-repeat;
}
.logo_fiverr{
    position: absolute;
    top: 25px;
    left: 10px;
    width: 50px;
    height: 50px;
    background: url("../img/logo_fiverr.png") left top no-repeat;
}
