

.hidden_form_field {
  display: none;
}

.fiverr_report {
  margin-top: 1em;
  overflow: hidden;
}

.fiverr_report .button {
  float: left;
}


.spinner.is-active {
  visibility: visible;
  display: inline-block;
}

.spinner {
  background: url('../img/spinner.gif') no-repeat;
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
  float: left;
  vertical-align: middle;
  filter: alpha(opacity=70);
  opacity: .7;
  width: 20px;
  height: 20px;
  margin: 4px 10px 0;
  display: none;
}

body.single-fiverr_order .acf-form-submit .button-large {
  font-size: 16px;
}


.dl_rep {
  display: none;
}

.dl_rep.active {
  display: inline-block;
  margin-left: 1.4em;
}
